{% extends "_base.html" %}
{% load static %}
{% block content %}
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">CSV Upload</h1>
    <div class="row">
        <div class="col-md-12">
            <form method="post" enctype="multipart/form-data">
                {{ form }}
                {% csrf_token %}
                <input type="submit">
            </form>
        </div>
    </div>

    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}