{% extends "_base.html" %}
{% load static %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">File History</h1>
    {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>File</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for data in object_list %}
                <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.csv }}</td>
                    <td>
                        {% if data.status == 1 %}
                            <span class="btn-sm btn-primary">Waiting</span>
                        {% elif data.status == 2 %}
                            <span class="btn-sm btn-info">Processing</span>
                        {% elif data.status == 3 %}
                            <span class="btn-sm btn-success">Completed</span>
                        {% else %}
                            <span class="btn-sm btn-danger">Error</span>
                        {% endif %}

                    </td>
                    <td>{{ data.created_on|date }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="4">No files yet.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}